body {
    font-family: Tahoma, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}
header, footer {
    background: #9b0404;
    color: white;
    padding: 10px;
    text-align: center;
}
a { color: #ffffff; }
